button{
    display:block;
  }
  img:first-child{
    margin:0 auto;
  }
  img:nth-child(2){
    margin-left:3em;
  }
  img:nth-child(3){
    padding-left:10em;
  }


img{
    display:block;
  }
  img:first-child{
    margin:0 auto;
  }
  img:nth-child(2){
    margin-left:3em;
  }
  img:nth-child(3){
    padding-left:10em;
  }